.btn {
  display: inline-flex;
  width: min-content;
  color: $color-accent;
  border: none;
  cursor: pointer;
  transition: all $trans-default;
  user-select: none;

  &:disabled {
    pointer-events: none;
  }

  &--light {
    @include text(14px, 14px, $ff-medium);
    letter-spacing: 0.28px;
    text-transform: uppercase;
    background-color: $color-transparent;
    border: 1px solid $color-accent;
    border-radius: 30px;
    display: flex;
    align-items: center;
    justify-content: space-between;

    &:hover,
    &:focus {
      background-color: $color-accent;
      color: $color-default-white;
    }

    &:active {
      background-color: $color-accent;
      color: rgba($color-default-white, 0.7);
    }

    &:hover span,
    &:focus span {
      background-color: $color-default-white;
      color: $color-accent;
    }

    &:active span {
      background-color: $color-default-white;
      color: $color-accent;
    }

    &:disabled {
      background-color: transparent;
      border-color: #A9AFB7;
      color: #A9AFB7;
    }

    &:disabled span {
      background-color: #A9AFB7;
      color: $color-default-white;
    }
  }

  &--small {
    padding: 3px 3px 3px 19px;
  }

  &--normal {
    padding: 3px 3px 3px 29px;
  }
}

.btn span {
  width: 46px;
  height: 46px;
  border-radius: 50%;
  color: $color-default-white;
  background-color: $color-accent;
  z-index: 2;
  display: flex;
  justify-content: center;
  align-items: center;
}

.btn--small span {
  margin-left: 20px;
}

.btn--normal span {
  margin-left: 30px;
}

.btn--light.is-disable {
  background-color: transparent;
  border-color: #A9AFB7;
  color: #A9AFB7;
}

.btn--light.is-disable span {
  background-color: #A9AFB7;
  color: $color-default-white;
}
