.btn {
  @include text(14px, 14px, $ff-medium);

  display: inline-flex;
  width: min-content;
  color: $color-accent;
  border: none;
  cursor: pointer;
  transition: all $trans-default;
  user-select: none;

  @include vp-767 {
    @include text(12px, 12px);
  }

  &:disabled {
    pointer-events: none;
  }

  &--arrow {
    width: 22px;
    height: 22px;
    border-radius: 50%;
    padding: 6px;
    background-color: $color-transparent;

    &:hover,
    &:focus,
    &:active {
      background-color: $color-default-white;
    }
  }

  &--icon {
    width: 30px;
    height: 30px;
    border-radius: 50%;
    background-color: $color-accent;
    color: $color-default-white;
    display: flex;
    justify-content: center;
    align-items: center;

    &:hover,
    &:focus,
    &:active {
      background-color: $color-default-white;
    }

    &:disabled {
      background-color: #a9afb7;
    }
  }

  &--light {
    letter-spacing: 0.28px;
    text-transform: uppercase;
    background-color: $color-transparent;
    border: 1px solid $color-accent;
    border-radius: 30px;
    display: flex;
    align-items: center;
    justify-content: space-between;

    &:hover,
    &:focus {
      background-color: $color-accent;
      color: $color-default-white;
    }

    &:active {
      background-color: $color-accent;
      color: rgba($color-default-white, 0.7);
    }

    &:hover span,
    &:focus span {
      background-color: $color-default-white;
      color: $color-accent;
    }

    &:active span {
      background-color: $color-default-white;
      color: $color-accent;
    }

    &:disabled {
      background-color: transparent;
      border-color: #a9afb7;
      color: #a9afb7;
    }

    &:disabled span {
      background-color: #a9afb7;
      color: $color-default-white;
    }

    @include vp-767 {
      padding: 3px 3px 3px 19px;
    }
  }

  &--dark {
    letter-spacing: 0.28px;
    text-transform: uppercase;
    background-color: $color-transparent;
    border: 1px solid $color-default-white;
    color: $color-default-white;
    border-radius: 30px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    text-align: center;

    &:hover,
    &:focus {
      background-color: $color-default-white;
      color: $color-accent;
    }

    &:active {
      background-color: $color-default-white;
      color: rgba($color-accent, 0.7);
    }

    &:hover span,
    &:focus span {
      background-color: $color-accent;
      color: $color-accent;
    }

    &:active span {
      background-color: $color-accent;
      color: $color-accent;
    }

    &:disabled {
      background-color: transparent;
      border-color: #a9afb7;
      color: #a9afb7;
    }

    &:disabled span {
      background-color: #a9afb7;
      color: $color-default-white;
    }

    @include vp-767 {
      padding: 3px 3px 3px 19px;
    }
  }

  &--small {
    padding: 3px 3px 3px 19px;
  }

  &--normal {
    padding: 3px 3px 3px 29px;
  }
}

.btn span {
  flex-shrink: 0;
  width: 46px;
  height: 46px;
  border-radius: 50%;
  color: $color-default-white;
  background-color: $color-accent;
  z-index: 2;
  display: flex;
  justify-content: center;
  align-items: center;

  @include vp-767 {
    width: 34px;
    height: 34px;
  }
}

.btn--dark span {
  background-color: $color-default-white;
  color: $color-accent;
}

.btn--small span {
  margin-left: 20px;
}

.btn--normal span {
  margin-left: 30px;

  @include vp-767 {
    margin-left: 20px;
  }
}

.btn--light.is-disable {
  background-color: transparent;
  border-color: #a9afb7;
  color: #a9afb7;
}

.btn--light.is-disable span {
  background-color: #a9afb7;
  color: $color-default-white;
}

.btn--icon:hover svg,
.btn--icon:focus svg {
  color: $color-accent;
  transform: rotate(45deg);
}

.btn--icon:active svg {
  color: $color-accent;
  opacity: 0.7;
  transform: rotate(45deg);
}

.btn--icon:disabled,
.btn--icon.is-disable {
  background-color: #a9afb7;
}

.btn--icon:disabled svg,
.btn--icon.is-disable svg {
  color: rgba(255, 255, 255, 0.6);
}

.btn--arrow:active svg {
  opacity: 0.7;
}

.btn--arrow:disabled svg,
.btn--arrow.disabled svg {
  color: #a9afb7;
}

.btn--light:disabled svg,
.btn--light.is-disable svg,
.btn--dark:disabled svg,
.btn--dark.is-disable svg {
  color: rgba($color-default-white, 0.6);
}
