.grant {
  margin-bottom: 120px;
  background-color: $color-accent;
  color: $color-default-white;
  display: flex;
  gap: 138px;

  @include vp-1439 {
    margin-bottom: 100px;
    flex-direction: column;
    gap: 40px;
  }

  @include vp-767 {
    margin-bottom: 60px;
    gap: 30px;
  }
}
