.header {
  margin-bottom: 120px;
}
.header__nav {
  padding-top: 30px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: fixed;
  z-index: $index-menu;

  @include vp-767 {
    padding-top: 20px;
  }
 }

.header__menu,
.header__submenu {
  list-style-type: none;
  padding: 0;
  margin: 0;
}
.header__menu {
  min-width: 290px;
  padding: 35px 25px;
  border-radius: 16px;
  background-color: $color-accent;
  position: absolute;
  top: 88px;
  right: 100px;
  display: none;
}

.header__menu.is-open {
  display: block;
}

.header__submenu {
  padding-left: 16px;
}

.header__menu a {
  @include text(16px, 16px);
  letter-spacing: 0.32px;
  text-transform: uppercase;
  color: rgba($color-default-white, 0.7);
  display: block;

  &:hover,
  &:focus {
    color: $color-default-white;
    font-weight: $ff-medium;
  }
}

.header__menu-item:not(:last-child) {
  margin-bottom: 28px;
}

.header__submenu a {
  text-transform: none;
  display: block;
}

.header__submenu-item:not(:last-child) {
  margin-bottom: 16px;
}

.header__menu-item > a:has(+ ul) {
  position: relative;
  width: min-content;

  &::after {
    content: "";
    width: 12px;
    height: 12px;
    background-color: rgba($color-default-white, 0.7);
    mask-image: url("../../img/arrow-dropdown.svg");
    transform: rotate(180deg);
    transition: $trans-default;
    margin-left: 10px;
    position: absolute;
    top: 3px;
    right: -22px;
  }

  &:hover,
  &:focus {
    &::after {
      background-color: $color-default-white;
    }
  }
}

.header__menu-item.is-active > a {
  margin-bottom: 20px;

  &::after {
    transform: rotate(0deg);
  }
}

.header__logo {
  width: 52px;
  height: 52px;
  border-radius: 50%;
  background-color: $color-default-white;
  display: flex;
  justify-content: center;
  align-items: center;
}

.header__toggle-button {
  background-color: $color-default-white;
}

.header__toggle-button span {
  background-color: $color-accent;
  background-image: url("../../img/menu-burger.svg");
  background-repeat: no-repeat;
  background-position: center;
}

.header__toggle-button.is-open {
  background-color: $color-accent;
  color: $color-default-white;
  width: 290px;
}

.header__toggle-button.is-open span {
  background-color: $color-default-white;
  background-image: url("../../img/menu-close.svg");
}
