.hero {
  position: relative;
}

.hero__background {
  width: 100vw;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  z-index: -1;
  background-color: $color-grey;

  &::before {
    content: "";
    width: 100%;
    height: 100%;
    min-height: 800px;
    background-color: rgba($color-accent, 0.2);
    position: absolute;
    top: 0;
    left: 0;
    z-index: $index-hero-overlay;

    @include vp-1439 {
      min-height: 1024px;
    }

    @include vp-767 {
      min-height: 568px;
    }
  }
}

.hero__background img {
  height: 100%;
  width: 100%;
  object-fit: cover;
}

.hero__items {
  list-style-type: none;
  padding: 0;
  margin: 0;
}

.hero__item {
  min-height: 800px;
  display: flex;
  flex-direction: column;
  padding-bottom: 60px;

  @include vp-1439 {
    min-height: 1024px;
  }

  @include vp-767 {
    min-height: 568px;
    padding-bottom: 20px;
  }
}

.hero__wrapper {
  display: flex;
  margin-top: -7px;

  @include vp-1439 {
    margin-top: -4px;
  }

  @include vp-767 {
    margin-top: -5px;
    flex-direction: column;
  }
}

.hero__content {
  margin-top: 447px;

  @include vp-1439 {
    margin-top: 691px;
  }

  @include vp-767 {
    margin-top: 241px;
  }
}

.hero__content h2 {
  @include text(54px, 62px);

  color: $color-accent;
  background-color: $color-default-white;
  max-width: 968px;
  border-radius: 0 30px 30px 0;
  padding: 40px 50px 30px;
  margin: 0;

  @include vp-1439 {
    @include text(36px, 44px);

    max-width: 659px;
    padding: 30px 40px 24px;
  }

  @include vp-767 {
    @include text(22px, 26px);

    max-width: 290px;
    padding: 19px 14px 17px;
    border-radius: 0 16px 16px 0;
  }
}

.hero__content p {
  @include text(16px, 26px);

  color: $color-dark;
  background-color: $color-default-white;
  max-width: 526px;
  border-radius: 0 0 0 30px;
  padding: 0 30px 28px 50px;
  margin: 0;

  @include vp-1439 {
    @include text(16px, 20px);

    max-width: 355px;
    padding: 0 30px 35px 40px;
  }

  @include vp-767 {
    @include text(14px, 20px);

    max-width: 267px;
    padding: 0 14px 10px;
    border-radius: 0 0 14px;
    position: relative;

    &::after {
      content: "";
      width: 10px;
      height: 10px;
      background-image: url("../../img/svg/angle.svg");
      background-size: cover;
      position: absolute;
      top: 5px;
      left: 100%;
    }
  }
}

.hero__button-wrapper {
  background-color: $color-default-white;
  padding: 12px 50px 40px 0;
  border-radius: 0 0 30px;
  position: relative;
  width: min-content;

  &::after {
    content: "";
    width: 26px;
    height: 26px;
    background-image: url("../../img/svg/angle.svg");
    background-size: cover;
    position: absolute;
    top: 7px;
    left: 100%;
  }

  @include vp-1439 {
    padding: 4px 40px 40px 0;

    &::after {
      top: 4px;
    }
  }

  @include vp-767 {
    padding: 10px 15px;
    border-radius: 0 0 14px 14px;

    &::after {
      top: 0;
      width: 10px;
      height: 10px;
    }
  }
}

.hero__button {
  @include vp-767 {
    @include text(12px, 12px, $ff-medium);

    letter-spacing: 0.24px;
    padding: 3px 3px 3px 19px;
  }
}

.hero__button:hover svg,
.hero__button:focus svg,
.hero__button:active svg {
  color: $color-accent;
  transform: rotate(45deg);
}

.hero__button:active svg {
  color: rgba($color-accent, 0.7);
}

.hero__pagination {
  padding: 14px 20px;
  background-color: $color-default-white;
  border-radius: 20px 20px 0 0;
  width: min-content;
  position: absolute;
  top: 409px;
  left: 100px;
  z-index: $index-hero-pagination;

  &::after {
    content: "";
    width: 20px;
    height: 20px;
    background-image: url("../../img/svg/angle-pagination.svg");
    background-size: contain;
    position: absolute;
    bottom: 0;
    left: 100%;
  }

  @include vp-1439 {
    top: 653px;
    left: 45px;
  }

  @include vp-767 {
    top: 213px;
    left: 15px;
    padding: 10px 16px;
    border-radius: 12px 12px 0 0;

    &::after {
      width: 10px;
      height: 10px;
    }
  }
}

.hero__pagination .swiper-pagination {
  display: flex;
  gap: 12px;
}

.hero__pagination .swiper-pagination .swiper-pagination-bullet {
  display: block;
  width: 10px;
  height: 10px;
  border-radius: 50%;
  border: 1px solid $color-accent;
  background-color: $color-transparent;
  padding: 0;
  flex-shrink: 0;
  opacity: 1;
  margin: 0;
  position: relative;

  @include vp-767 {
    width: 8px;
    height: 8px;
  }

  &:hover,
  &:active {
    background-color: rgba($color-default-white, 0.5);
  }

  &:focus::before {
    content: "";
    width: 13px;
    height: 13px;
    border-radius: 50%;
    background-color: $color-transparent;
    border: 1px solid rgba($color-default-white, 0.5);
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }
}

.hero__pagination .swiper-pagination .swiper-pagination-bullet.swiper-pagination-bullet-active {
  background-color: $color-accent;
}
