@font-face {
  font-display: swap;
  font-family: "Manrope";
  font-style: normal;
  font-weight: 300;
  src: url('../../fonts/manrope-v15-cyrillic_cyrillic-ext_latin_latin-ext-300.woff2') format('woff2');
}

@font-face {
  font-display: swap;
  font-family: "Manrope";
  font-style: normal;
  font-weight: 400;
  src: url('../../fonts/manrope-v15-cyrillic_cyrillic-ext_latin_latin-ext-regular.woff2') format('woff2');
}

@font-face {
  font-display: swap;
  font-family: "Manrope";
  font-style: normal;
  font-weight: 500;
  src: url('../../fonts/manrope-v15-cyrillic_cyrillic-ext_latin_latin-ext-500.woff2') format('woff2');
}
