.swiper-pagination .swiper-pagination-bullet:hover,
.swiper-pagination .swiper-pagination-bullet:focus {
  color: $color-accent;
  border: 1px solid $color-accent;
  background-color: transparent;
}

.swiper-pagination .swiper-pagination-bullet:active {
  background-color: $color-accent-dark;
  color: $color-default-white;
}
